.matching-card {
  width: 100%;
  position: relative;
}

.door {
  cursor: pointer;
}

.door.open {
  transform: rotateY(90deg);
  transform-origin: left;
}

door.solved {
  opacity: 0;
}

.matching-card a {
  position: absolute;
  display: block;
  width: 100%;
  height: 200px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.matching-card a.circle {
  background-image: url('../assets/circle.png');
}

.matching-card a.triangle {
  background-image: url('../assets/triangle.png');
}

.matching-card a.square {
  background-image: url('../assets/square.png');
}

.matching-card a.star {
  background-image: url('../assets/star.png');
}

.matching-card a.pentagon {
  background-image: url('../assets/pentagon.png');
}